.drive-selector {
    width: 100%;

    .nodevice {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 2rem;

        p {
            font-size: 1rem;
            color: #999999;
        }
    }

    .dropdown-header {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        svg {
            background-color: #e8e8e8;
            border-radius: 0.25rem;
        }

        .usb-selected-display {
            display: flex;
            align-items: center;
            gap: 1rem;

            .usb-dropdown-selected {
                width: 4rem;
                height: 4rem;
            }

            span {
                font-size: 0.875rem;
                color: #666666;
            }
        }
    }

    .dropdown-list {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 100%;
        padding: 0.25rem;
        margin-top: -0.5rem;
        background-color: #FFF;
        border: 1px solid #e8e8e8;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        max-height: 250px;
        overflow: auto;
        cursor: pointer;

        .drive-item {
            background-color: #FFF;
            padding: 0.5rem;
            border-radius: 0.75rem;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            transition: all 0.1s ease;

            .usb-dropdown-option {
                width: 2rem;
                height: 2rem;
            }

            span {
                font-size: 0.875rem;
                color: #666666;
            }

            &:hover {
                background-color: #f0f0f0;
            }
        }


    }
}